html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css",integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M",crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-1.12.4.js", integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")

    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light

            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/customer/index")
                            | Home
                            span.sr-only (current)


                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            | Profile
                        .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                            a.dropdown-item(href="/customer/info") Info
                            a.dropdown-item(href="#") Events
                            a.dropdown-item(href="#") About
                            a.dropdown-item(href="#") Contact
                            a.dropdown-item(href="#") Emergency



                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            | Available Sources
                        .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                            a.dropdown-item(href="/customer/map") Available Hospitals
                            a.dropdown-item(href="#") Available Doctors

                    li.nav-item
                        a.nav-link(href="/customer/quiz") OnlineQuiz


                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/customer/shopping-cart")
                            i.fa.fa-shopping-cart(aria-hidden="true")
                            |  Shopping Cart #{' '}
                            span.badge.badge-dark #{session.cart.totalQty}



            if login
            button.btn.btn-outline-success.my-2.my-sm-0(type="submit" name='logout')
                a(href='/user/logout') Log out
        br
        br

        .container-checkout
            .row
                .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                | Payment Details
                            .checkbox.pull-right
                                label
                                    input(type="checkbox")
                                    |                             Remember
                        .panel-body
                            form#checkout-form(action="/checkout", method="post")
                                .form-group
                                    label(for="cardNumber")
                                        | CARD NUMBER
                                    .input-group
                                        input#cardNumber.form-control(type="text", placeholder="Valid Card Number", required="", autofocus="")
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-lock
                                .form-group
                                    label(for="cardHolder")
                                        | CARD HOLDER
                                    .input-group
                                        input#cardHolder.form-control.input-group(type="text", placeholder="Card Holder", required="", autofocus="", name="name")
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-lock
                                .form-group
                                    label(for="address")
                                        | ADDRESS
                                    .input-group
                                        input#address.form-control.input-group(type="text", placeholder="ADDRESS", required="", autofocus="", name="address")
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-lock
                                .row
                                    .col-xs-7.col-md-7
                                        .form-group
                                            div
                                                label(for="expityMonth")
                                                    | EXPIRY DATE
                                            .col-xs-6.col-lg-6.pl-ziro
                                                input#expiryMonth.form-control(type="text", placeholder="MM", required="")
                                            .col-xs-6.col-lg-6.pl-ziro
                                                input#expiryYear.form-control(type="text", placeholder="YY", required="")
                                    .col-xs-5.col-md-5.pull-right
                                        .form-group
                                            label(for="cvCode")
                                                | CV CODE
                                            input#cvCode.form-control(type="password", placeholder="CV", required="")
                                ul.nav.nav-pills.nav-stacked
                                    li.active
                                        a(href="#")
                                            span.badge.pull-right
                                                span.glyphicon.glyphicon-usd #{total}

                                            | Final Payment
                                br

                                #charge-error.alert.alert-danger(class=noError?'hidden' : '')
                                    | #{errMsg}
                                button.btn.btn-success.btn-lg.btn-block(type="submit") Pay
        script(type="text/javascript", src="https://js.stripe.com/v2/")
        script(type="text/javascript", src="https://js.stripe.com/v3/")
        script(type="text/javascript", src="javascripts/checkout.js")
