doctype html
html
    include header
    include nav

    body
        .row
            .col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
                #success.alert.alert-success(class=noMessages ?'hidden':'')
                    #{successMsg}

    each medicine in medicines
        .row: each product in medicine
            .col-sm-6.col-md-4
                .thumbnail
                    img(class='img-responsive img-thumbnail' src= product.imagePath alt="nmb")
                    .caption
                        h3= product.title
                        p.description= product.description
                            .clearfix
                                .price.pull-left= '$' + product.price
                                -var id = product._id;
                                a.btn.btn-success.pull-right(href="/customer/add-to-cart/"+id role='button') Add to Shopping Cart


    include footer