nav.navbar.navbar-default
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") Medicines Centre

            // Collect the nav links, forms, and other content for toggling
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/shopping-cart/")
                        i.fa.fa-shopping-cart(aria-hidden="true") Shopping Cart
                        span.badge #{session.cart.totalQty}

                li.dropdown
                    a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                        i.fa.fa-user(aria-hidden="true") User Management
                        span.caret
                    ul.dropdown-menu
                        if login
                            li
                                a(href="/user/profile") User Account
                            li.divider(role="separator")
                            li
                                a(href="/user/logout") Logout
                        else
                            li
                                a(href="/user/signup") Sign Up
                            li
                                a(href="/user/login") login

        .row
            .col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
                #success.alert.alert-success(if noMessages hidden)
                    #{successMsg}


        each medicine in medicines
            .row
                .col-sm-6.col-md-4
                    .thumbnail
                        img.img-responsive(src=#{this.imagePath})
                        .caption
                            h3= #{this.title}
                            p.description= #{this.description}
                            .clearfix
                                .price.pull-left $
                                #{this.price}a.btn.btn-success.pull-right(href='/add-to-cart/#{this._id}' role="button") Add to Shopping Cart
